.container-cart__header {
  text-align: center;
  font-size: 5rem;
  margin: 100px 0;
}

.container-cart__content {
  width: 100%;
}

.container-cart-product-wrapper {
  margin-right: 20px;
}

.container-cart-product__list {
  list-style-type: none;
}

.container-cart-product__item {
  padding: 30px 0;
  display: flex;
  align-items: center;
  position: relative;
  border-top: 1px solid #ddd;
}

.container-cart-product__item-remove {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  top: 50%;
  background-color: rgb(246, 246, 246);
}

.container-cart-product__item-thumb {
  width: 95px;
  height: 126px;
  overflow: hidden;
  margin-right: 30px;
}
.container-cart-product__item-thumb img {
  width: 100%;
  height: auto;
}

.container-cart-product__item-detail {
  height: 126px;
  flex: 1;
}

.container-cart-product__item-title {
  font-size: 1.6rem;
  color: var(--text-black-color);
  height: 30px;
  line-height: 30px;
}

.container-cart-product__item-feature {
  font-size: 1.4rem;
  color: var(--text-black-color);
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.container-cart-product__item-feature-size {
  margin-right: 30px;
  position: relative;
}

.container-cart-product__item-feature-size::after {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% + 2px);
  background-color: rgba(0, 0, 0, 0.2);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 15px);
}

.container-cart-product__item-feature-size span,
.container-cart-product__item-feature-color span {
  color: var(--text-grey-color);
}

.container-cart-product__item-feature-color {
}

.container-cart-product__item-price {
  font-size: 1.6rem;
  color: var(--text-black-color);
}

.container-cart-product__item-qty {
  display: flex;
  align-items: center;
  padding: 0 5px;
}

/* .container-cart-product__item-qty span {
  margin: 0 16px;
  font-size: 1.6rem;
  text-align: center;
} */

/* .container-cart-product__item-qty-minus,
.container-cart-product__item-qty-plus {
  font-size: 1.6rem;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  color: var(--text-light-grey-color);
} */

.container-cart-product__item-amount {
  color: var(--text-black-color);
  font-size: 1.6rem;
  text-align: right;
  height: 30px;
  align-items: center;
  line-height: 30px;
}

.container-cart-coupon {
  border-top: 1px solid #ddd;
  padding: 30px 0 80px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container-cart-coupon-input {
  width: 180px;
  height: 45px;
}

.container-cart-coupon-input input {
}
.container-cart-coupon-input label {
}

.container-cart-coupon button {
  height: 45px;
  font-size: 1.4rem;
  width: 130px;
  background-color: var(--text-black-color);
  color: #fff;
  border: none;
  margin-left: 10px;
}

.container-cart__summary {
  max-height: 100%;
  height: auto;
  padding-bottom: 125px;
  position: relative;
}

.container-cart__summary-wrapper {
  border: 1px solid var(--text-black-color);
  padding: 40px 40px 20px 40px;
}

.container-cart__summary-header {
  font-size: 2rem;
  color: var(--text-black-color);
  font-weight: 400;
  margin-bottom: 20px;
}

.container-cart__summary-amount {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-black-color);
}

.container-cart__summary-amount p {
  color: var(--text-grey-color);
  margin: 20px 0;
}

.container-cart__summary-ship {
}

.container-cart__summary-ship-header {
  font-size: 1.6rem;
  color: var(--text-grey-color);
  margin: 20px 0;
}

.container-cart__summary-ship-price {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-black-color);
}

.container-cart__summary-ship-price p {
  color: var(--text-grey-color);
}

.container-cart__summary-ship-address {
  font-size: 1.6rem;
  color: var(--text-grey-color);
  margin: 20px 0;
}

.container-cart__summary-ship-address span {
  color: var(--text-black-color);
}

.container-cart__summary-ship-address-form {
  margin-bottom: 30px;
}

.container-cart__summary-ship-address-change {
  font-size: 1.6rem;
  color: var(--text-black-color);
  cursor: pointer;
}

.container-cart__summary-ship-address-input {
  display: none;
}

.container-cart__summary-ship-address-input > div {
  margin: 20px 0;
}

.container-cart__summary-ship-address-input button {
  padding: 10px 30px;
  font-size: 1.4rem;
  border: 2px solid var(--text-black-color);
  background-color: #fff;
  cursor: pointer;
}

.container-cart__summary-amount-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 20px 0 40px 0;
}

.container-cart__summary-amount-total p {
  color: var(--text-grey-color);
}

.container-cart__summary-amount-total span {
  color: var(--text-black-color);
  font-weight: 500;
}

.container-cart__summary-handle-btn {
  width: 100%;
  background-color: var(--text-black-color);
  padding: 15px 0;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: opacity linear 0.2s;
}

.container-cart__summary-handle-btn:hover {
  opacity: 0.9;
}

/* WIshlist ------------------------------------------------------------------ */

.container-wishlist__header {
  text-align: center;
  font-size: 5rem;
  margin: 100px 0;
}

.container-wishlist__content {
  width: 100%;
}

.container-wishlist-product-wrapper {
  margin-right: 20px;
}

.container-wishlist-product__list {
  list-style-type: none;
}

.container-wishlist-product__item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  position: relative;
  border-top: 1px solid #ddd;
  height: 160px;
}

.container-wishlist-product__item-remove {
  height: 100%;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-wishlist-product__item-remove div {
  width: 30px;
  height: 30px;
}

.container-wishlist-product__item-remove div:hover {
  background: #f8f8f8;
}

.container-wishlist-product__item-thumb {
  width: 95px;
  height: 100%;
  overflow: hidden;
  margin-right: 30px;
}
.container-wishlist-product__item-thumb img {
  width: 100%;
  height: auto;
}

.container-wishlist-product__item-detail {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container-wishlist-product__item-title {
  font-size: 1.6rem;
  color: var(--text-black-color);
  height: 30px;
  line-height: 30px;
}

.container-wishlist-product__item-price {
  font-size: 1.6rem;
  color: var(--text-black-color);
  height: 30px;
  line-height: 30px;
}

.container-wishlist-product__item-status {
  flex: 1;
  font-size: 1.6rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.container-wishlist-product__item-status div {
  padding: 5px 10px;
  color: #7cc0a6;
  border: 1px solid #7cc0a6;
  border-radius: 50px;
}

.container-wishlist-product__item-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  flex: 1;
}

.container-wishlist-product__item-select {
  padding: 15px 20px;
  background-color: var(--text-black-color);

  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container-wishlist-product__item-delete {
  margin-top: 20px;
  color: var(--text-grey-color);
  cursor: pointer;
}

.container-wishlist-share {
  border-top: 1px solid #ddd;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.container-wishlist-share-header {
  color: var(--text-grey-color);
  margin-bottom: 15px;
}

.container-wishlist-share-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-wishlist-share-social span {
  color: var(--text-black-color);
  margin: 0 10px;
}

/* Billing checkout--------------------------------------------------------------------------- */
.container-bill__info {
  margin: 50px 0;
  padding-right: 40px;
}

.container-bill__info-header {
  margin-bottom: 50px;
  font-size: 3rem;
  color: var(--text-black-color);
}

.container-bill__info-input > div {
  margin: 20px 0;
}

.container-bill__info-input-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-bill__info-input-name > div {
  width: 45%;
}

.container-bill__info-input-name input {
  width: 100%;
}

.container-bill__info-input-note {
  min-height: 80px;
  height: auto;
}

.container-bill__info-input-note {
  position: relative;
}

.container-bill__info-input-note textarea {
  width: 100%;
  min-height: 80px;
  height: auto;
  font-size: 1.6rem;
  padding: 15px;
  border: 1px solid #ddd;
  /* outline: 1px solid var(--text-black-color); */
}

.container-bill__info-input-note p {
  position: absolute;
  font-size: 1.6rem;
  top: 0;
  height: 1.6rem;
  background-color: var(--background-color);
  padding: 0 5px;
  left: 12px;
  transform: translateY(-50%);
  color: var(--text-light-grey-color);
}

.input-moving-lable input.focused {
  border: 1px solid var(--text-black-color);
}

.input-moving-lable input.focused + label {
  top: 0;
  height: 1.6rem;
  background-color: var(--background-color);
  padding: 0 5px;
}

.container-bill__detail {
  margin: 50px 0;
}

.container-bill__detail-product-list {
  list-style-type: none;
}

.container-bill__detail-product-item {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.container-bill__detail-product-item-thumb {
  width: 60px;
  height: 80px;
  overflow: hidden;
  margin-right: 15px;
}

.container-bill__detail-product-item-thumb img {
  width: 100%;
  height: auto;
}

.container-bill__detail-product-item-info {
  color: var(--text-grey-color);
  flex: 1;
}

.container-bill__detail-product-item-title {
  font-size: 1.6rem;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.container-bill__detail-product-item-title > div {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  margin-left: 15px;
  border-radius: 50px;
  font-size: 1.4rem;
}

.container-bill__detail-product-item-feature {
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.container-bill__detail-product-item-size {
  margin-right: 20px;
  position: relative;
}

.container-bill__detail-product-item-size ::after {
  position: absolute;
    content: "";
    width: 1px;
    height: calc(100% + 2px);
    background-color: rgba(0, 0, 0, 0.2);
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 10px);
}


.container-bill__detail-product-item-color {
}

.container-bill__detail-product-item-price {
  font-size: 1.6rem;
  color: var(--text-black-color);
}

.container-bill__detail-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 20px 0;
}

.container-bill__detail-ship {
   display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  margin: 20px 0;
}

.container-bill__detail-total {
   display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 20px 0;
}

.container-bill__detail-payment {
  width: 100%;
  border: 1px solid var(--text-black-color);
  padding: 15px;
  font-size: 1.6rem;
}

.container-bill__detail-payment>div {
  padding: 20px 0;
}
.payment-method-bank-note {
  color: var(--text-grey-color);
  font-size: 1.4rem;
  line-height: 1.4;
}

.container-bill__detail-alert {
  margin: 15px 0;
  color: var(--text-grey-color);
  font-size: 1.4rem;
  line-height: 1.4;
}

.container-bill__detail-alert span {
  color: var(--text-black-color);
  
}


.container-bill__detail-confirm-condition {
  font-size: 1.6rem;
  color: #f27362;
}

.container-bill__detail-confirm-condition{
  
}

.container-bill__detail-confirm-condition input:checked + label{
  font-size: 1.6rem;
  color: var(--text-grey-color);
}

.container-bill__detail-confirm-condition span {
  color: var(--text-black-color);
}

.container-bill__detail-checkout {
  width: 100%;
  padding: 15px 0;
  background-color: var(--text-black-color);
  font-size: 1.6rem;
  color: #fff;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
