/* Set lại head nav */
.header-nav {
  width: 100%;
  height: 90px;
  position: relative;
  transition: top linear 0.2s, height linear 0.2s;
  top: 0;
}

.header-nav::after {
  content: "";
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
}

.header-nav.fixed {
  position: fixed;
  background-color: #fff;
  height: 70px;
  top: 0;
  box-shadow: 0px 1px 5px #999;
}

.header-nav-spacer {
  display: none;
  height: 90px;
  width: 100%;
}

.container__product-intro {
  text-align: center;
  margin: 90px 0 50px 0;
  position: relative;
}

/* .container__product::before {
  content: "";
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
} */

.container__product-intro__header {
  color: var(--text-black-color);
  font-size: 5rem;
  margin-bottom: 40px;
}

.container__product-intro__desc {
  color: var(--text-grey-color);
  font-size: 1.6rem;
  width: 770px;
  margin: 0 auto;
}

.container__product-intro__desc p {
  margin-bottom: 30px;
  line-height: 1.7;
}

/* Filter range ---------------------------------------------------------- */

.container__product-filter {
}

.container__product-filter__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
}

.container__product-directory {
  color: var(--text-grey-color);
}

.container__product-directory__home {
  text-decoration: none;
  color: var(--text-grey-color);
}

.container__product-directory__current {
}

.container__product-filter-area {
  display: flex;
  align-items: center;
}

.container__product-filter-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container__product-filter-box-icon {
  margin-right: 8px;
}

.container__product-filter-box-icon i {
  color: var(--text-black-color);
  transform: rotate(90deg);
}

.container__product-filter-box-icon-close {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

.container__product-filter-option-number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: orange;
  color: var(--background-color);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.container__product-sort-box {
  position: relative;
  padding-left: 15px;
  margin-left: 10px;
}

.container__product-sort-box::before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% + 4px);
  background-color: rgba(181, 177, 177, 0.3);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container__product-sort-box .orderby {
  border: none;
  outline: none;
  padding-left: 5px;
}

.container__product-filter__content {
  padding-top: 30px;
}

.container__product-filter__content-chosed {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 15px;
}

.container__product-filter__content-chosed::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 100%;
  background-color: rgba(181, 177, 177, 0.3);
}

.chosed-option {
  font-size: 1.6rem;
  background: rgba(0, 0, 0, 0.08);
  padding: 0 10px;
  line-height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.chosed-option .exit-btn {
  height: 20px;
  width: 20px;
  margin-left: 8px;
}

.chosed-remove {
  color: var(--text-grey-color);
  cursor: pointer;
}

.container__product-filter__content-option {
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
}
.filter-by {
  width: 25%;
  margin-right: 40px;
}
.filter-by-header {
  font-size: 1.6rem;
  color: var(--text-grey-color);
  margin-bottom: 25px;
}
.filter-by-color-option {
}
.filter-by-color-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.filter-by-color-item {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin: 0 10px 5px 0;
}
.filter-by-color-item:hover {
  border: 1px solid black;
}
.filter-by-color-item img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.filter-by-price-content {
}

.price-slider {
  height: 5px;
  background-color: #ddd;
  position: relative;
  width: 100%;
}

.price-slider .progress {
  height: 5px;
  left: 0;
  right: 0;
  position: absolute;
  background-color: var(--text-black-color);
}

.price-limit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.6rem;
  color: var(--text-grey-color);
  line-height: 1.7;
  margin: 10px 5px 0 0;
}

.min-price {
  margin-right: 20px;
}
.price-limit span {
  color: var(--text-black-color);
}

.min-price,
.max-price {
  display: flex;
  align-items: center;
}

.range-input {
  position: relative;
  width: 100%;
}
.range-input input {
  height: 5px;
  position: absolute;
  top: -5px;
  width: 100%;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: #fff;
  border: 3px solid var(--text-black-color);
}

.range-input input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  pointer-events: auto;
  -moz-appearance: none;
  background-color: #fff;
  border: 3px solid var(--text-black-color);
}

/* Item product */

.container__product-list {
  padding: 60px 0 20px 0;
}

.container__product-item {
  margin-bottom: 40px;
}

.container__product-item.product-slide-up { 
  animation: productAppear linear 0.4s;
}

@keyframes productAppear {
  from{
    opacity: 0;
    transform: translateY(20%);

  }
  to{
    opacity: 1;
    transform: translateY(0);

  }
}

.container__product-item-link {
  text-decoration: none;
}

.container__product-item-img {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
}
.container__product-item-img img {
  transform-origin: center center;
  height: 100%;
  transition: all linear 0.25s;
}
.container__product-item-img img:first-child {
  height: 100%;
  transform: scale(1, 1);
}

.container__product-item-img img:last-child {
  height: 100%;
  position: absolute;
  transform: scale(1, 1);
  top: 0;
  left: 0;
  opacity: 0;
}

.container__product-item:hover .container__product-item-img img:last-child {
  opacity: 1;
  transform: scale(1.05, 1.05);
}

.container__product-item:hover .container__product-item-img img:first-child {
  opacity: 0;
  transform: scale(1.05, 1.05);
}

.container__product-item-caption {
}

.container__product-item-title {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}

.container__product-item-title p {
  line-height: 1.7;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--text-black-color);
}

.container__product-item-title .add-to-wish {
  padding-left: 15px;
  color: var(--text-grey-color);
  position: relative;
  cursor: pointer;
}

.container__product-item-title .add-to-wish i:last-child {
  color: var(--text-black-color);
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}

.container__product-item-title .add-to-wish:hover i:last-child {
  opacity: 1;
}

.container__product-item-price {
  font-size: 1.6rem;
  color: var(--text-grey-color);
  position: relative;
  transition: all linear 0.25s;
  overflow: hidden;
  height: 30px;
}

.container__product-item-price-tag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all linear 0.25s;
}

.container__product-item-price-after-action {
  position: absolute;
  top: calc(100% + 10px);
  transition: all linear 0.25s;
}

.container__product-item:hover .container__product-item-price-tag {
  top: -100%;
}

.container__product-item:hover .container__product-item-price-after-action {
  top: 50%;
  transform: translateY(-50%);
}
